<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li ng-click="homepage()" class="text-center" ><a href="javascript:;"><img class="logo" src="images/logo.png"></a></li>
                    <li ng-click="homepage()" class="active"><a href="#"><i class="glyphicon glyphicon-home mar-right-5"></i> Home</a></li>
                    <li ng-click="about()"><a href="#"><i class="glyphicon glyphicon-user mar-right-5"></i> About</a></li>
                    <li ng-click="services()"><a href="#"><i class="glyphicon glyphicon-cog mar-right-5"></i> Services</a></li>
                    <li ng-click="contact()"><a href="#"><i class="glyphicon glyphicon-earphone mar-right-5"></i> Contact</a></li>
                    <li ng-click="events()"><a href="#"><i class="glyphicon glyphicon-edit mar-right-5"></i> Events</a></li>
                    <li class="nav-divider"></li>
                    <li ng-click="logout()"><a href=""><i class="glyphicon glyphicon-off mar-right-5"></i> Log Out</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>
