<div class="formbox">
<form class="form-horizontal" ng-submit="login_details({u_name:uname,u_pwd:upwd})">
    <div class='form-group-lg'>
	    <label class="control-label">User Name</label>
	    <input class="form-control" type="text" ng-model="uname" />
	</div>
	
	<div class='form-group-lg'>
    <label class="control-label">User Password</label>
    <input class="form-control"type="password" ng-model="upwd" />
	</div>

    <div class='form-group-lg'>
    <input class="btn btn-primary btn-lg" type="submit" style="margin:10px">
</form>
</div>